<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <header>
        <h1>About Triptie</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>
    <main>
        <h2>About Page</h2>
        <p>This is the about page of the Triptie website.</p
