.content {
    background-color: white; /* Set the content background to white */
    color: black; /* Set the text color to black for visibility */
    max-width: 1200px;
    min-height: 1100px;
    width: 70%;
    margin: 70px auto; /* This will center the content div */
    padding: 20px; /* Add some padding */
}

.like-btn {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.like-btn.liked {
    background-color: #ff0000; /* Change to your desired color */
}

