{% load static %}
{% load tripapp_template_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title> {% block title_block %} Document {% endblock %} </title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<section class="showcase">
    <header style="display: flex; justify-content: space-between; align-items: center;">
        <h2 class="logo">TripTie</h2>
        <div class="toggle" style="margin-left: auto;"></div>
    </header>
    
    <div class="content">
        {% block body_block %}
        {% endblock %}
    </div>
</section>

<div class="menu">
    <ul>
        <li><a href="{% url 'tripapp:index' %}">Home</a></li>
        {#        <li><a href="{% url 'tripapp:weather' %}">Weather</a></li>#}
        <li><a href="{% url 'tripapp:about' %}">About</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'tripapp:explore' %}">Explore</a></li>
            <li><a href="{% url 'tripapp:profile' user.username %}">Profile</a></li>
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            <li><a href="{% url 'tripapp:add_plan' user.username %}">Add a Plan</a></li>
        {% else %}
            <li><a href="{% url 'auth_login' %}">Login</a></li>
            <li><a href="{% url 'registration_register' %}">Register</a></li>

        {% endif %}
    </ul>
</div>


<script src="{% static 'js/index.js' %}"></script>
<script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js"></script>

</body>
</html>
