{% extends 'tripapp/base.html' %}
{% load static %}

{% block title_Block %}
    {user.username} Edit Profile
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            {% if user_profile.picture %}
                <img src="{{ MEDIA_URL }}{{ user_profile.picture.url }}" width="300" height="300"
                     alt="{{ selected_user.username }}'s profile image"/>
            {% else %}
                <img src="https://lorempixel.com/300/300/people/" width="300" height="300" alt="Placeholder image"/>
            {% endif %}
            <br/>
            <div>
                {% if user == user %}
                    <form method="post" action="." enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Update"/>
                    </form>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
