{% extends 'tripapp/base.html' %}
{% load static %}
{% block title_block %}
Add a Plan
{% endblock %}

{% block body_block %}
<main class="showcase">
    <div class="overlay"></div>
    <div class="content">
        <h2>Welcome to the Explore Page!</h2>
        <form id="search-form" class="text">
            <input type="text" id="city-name" placeholder="Enter a city name" class="form-control">
            <button type="submit" class="btn btn-primary mt-3">Search</button>
        </form>
        <div id="youtube-videos" class="mt-5">
            <div id="london-video" class="city-video"></div>
            <div id="paris-video" class="city-video"></div>
            <div id="edinburgh-video" class="city-video"></div>
        </div>
    </div>
</main>
<script src="{% static 'js/explore.js' %}"></script>
{% endblock %}
