{% extends 'tripapp/base.html' %}
{% load static %}

{% block title_Block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            {% if user_profile.picture %}
                <img src="{{ MEDIA_URL }}{{ user_profile.picture.url }}" width="300" height="300"
                     alt="{{ selected_user.username }}'s profile image"/>
            {% else %}
                <img src="https://ibb.co/xm1C47n" width="300" height="300" alt="Placeholder image"/>
            {% endif %}
            <br/>
            <div>
                <p>
                    <strong>Username:</strong> {{ user_profile.user.username }}<br>
                    <strong>Gender:</strong> {{ user_profile.gender }}<br>
                    <strong>Age:</strong> {{ user_profile.age }}<br>
                    <strong>Bio:</strong> {{ user_profile.bio }}<br>
                </p>
                {% if selected_user == user %}
                    <a href="{% url 'tripapp:edit_profile' username=user.username %}" class="btn btn-primary">Edit Profile</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
